#thank-you-message {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    background-color: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 20px;
}


#back-to-homepage {
  padding: 20px 30px;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: orange;
  transition: ease 0.15s;
  display: inline-block;
}

#back-to-homepage:hover {
    background-color: rgb(245, 199, 114);
}

@media screen and (min-width: 600px) {
    #thank-you-message {
    font-size: 1.5rem;
  
}

}